rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isPublished(pageId) {
      return get(/databases/$(database)/documents/landingPages/$(pageId)).data.status == 'published';
    }

    // Rules for landingPages
    match /landingPages/{landingPageId} {
      allow read: if resource.data.status == 'published' || (request.auth != null && isOwner(resource.data.ownerId));
      allow create, update, delete: if request.auth != null && isOwner(request.resource.data.ownerId);
    }

    // Rules for leads
    match /leads/{leadId} {
      allow create: if isPublished(request.resource.data.pageId);
      allow read: if request.auth != null && isOwner(request.resource.data.ownerId);
    }
  }
}
